@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
/*-----------General style-----------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  background-color: var(--very-dark-blue-300);
}
:root {
  /* ------- dark mode------- */
  --blue: hsl(212deg 100% 36%);
  --blue-100: hsl(212deg 100% 69%);
  --light-blue: hsl(201deg 20% 66%);
  --dark-blue-100: hsl(217deg 35% 45%);
  --dark-blue-200: hsl(222deg 41% 20%);
  --very-dark-blue-100: hsl(217deg 21% 21%);
  --very-dark-blue-200: hsl(220deg 18% 16%);
  --very-dark-blue-300: hsl(220deg 40% 13%);
  --very-light-blue: hsl(227deg 100% 98%);
  --btn-hover: hsl(212, 100%, 69%);
  --white: hsl(0deg 0% 100%);
}
.light-mode {
  /* ------- light mode------- */
  --white: hsl(220, 18%, 16%);
  --very-dark-blue-300: hsl(227, 100%, 98%);
  --dark-blue-200: hsl(0, 0%, 100%);
  --error: hsl(0, 92%, 62%);
}

.container {
  max-width: 47.625rem;
  padding: 1.213rem;
  margin: auto;
}
.btn {
  all: unset;
}
li {
  list-style: none;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.icon {
  height: "18";
  width: "20";
}
/* ----header---- */
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.1rem;
}
.logo {
  color: var(--white);
  font-size: 1.625rem;
}
.switch-btn {
  display: flex;
  gap: 0.938rem;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--white);
  cursor: pointer;
}
.switch-btn-annimation {
  animation: switch-animation 0.3s;
}

/* ----search---- */
.search-form {
  display: flex;
  justify-content: space-between;
  padding: 0.563rem;
  border-radius: 0.938rem;
  gap: 1.25rem;
  background-color: var(--dark-blue-200);
  margin-bottom: 2.1rem;
}
.search-icon-input {
  display: flex;
  align-items: center;
  gap: 0.563rem;
  width: 100%;
}
input {
  height: 3.125rem;
  font-size: 0.8rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--white);
  width: 100%;
}
input::placeholder {
  font-family: "Space Mono", monospace;
  color: var(--white);
}
.search-btn {
  background-color: var(--blue);
  max-width: 5rem;
  width: 100%;
  border: none;
  color: #ffffff;
  font-size: inherit;
  font-family: inherit;
  text-transform: capitalize;
  border-radius: 10px;
  cursor: pointer;
}
.search-btn:hover {
  background-color: var(--btn-hover);
}
/* ----result---- */
.result {
  display: grid;
  grid-template-columns: 4.375rem 1fr;
  grid-template-areas:
    "avatar person"
    "bio bio"
    "statistic statistic"
    "social social";
  border-radius: 0.938rem;
  padding: 1rem;
  background-color: var(--dark-blue-200);
}

.user-image {
  border-radius: 50%;
  height: 4.375rem;
  width: 4.375rem;
  grid-area: avatar;
  margin-bottom: 3rem;
}
.result-bio {
  grid-area: bio;
  margin-bottom: 1.5625rem;
  color: var(--white);
  font-size: 0.813rem;
}

.user-personal-info {
  grid-area: person;
  padding-left: 1.25rem;
  margin-bottom: 1.5625rem;
  color: var(--white);
  text-transform: capitalize;
}
.user-name {
  font-size: 1rem;
}
.user-name-link {
  font-size: 0.813rem;
  color: var(--blue-100);
  text-transform: lowercase;
}
.result-join-date {
  font-size: 0.813rem;
}
.repos-followers-following {
  background-color: var(--very-dark-blue-300);
  margin-bottom: 1.5625rem;
  grid-area: statistic;
  display: flex;
  justify-content: space-around;
  color: var(--white);
  text-transform: capitalize;
  padding: 0.98rem;
  border-radius: 0.625rem;
}
.repos-followers-following li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.repos-followers-following li span:first-child {
  font-size: 0.813rem;
}
.repos-followers-following li span:last-child {
  font-size: 1.375rem;
  font-weight: bold;
}

.social-media-links {
  display: grid;
  gap: 1.5rem;
  grid-area: social;
  color: var(--white);
  font-size: 0.938rem;
}
.social-media-links > li {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  cursor: no-drop;
}
.social-media-links > li.active {
  cursor: pointer;
}

.social-media-links > li a {
  text-decoration: none;
  color: var(--light-blue);
  overflow-x: hidden;
  text-overflow: ellipsis;
  cursor: no-drop;
}
.website {
  word-wrap: nowrap;
  width: 15rem;
}
.social-media-links > li.active a {
  color: var(--white);
  cursor: pointer;
}

/* ---------Large Screen-------------- */

/* Medium */
@media (min-width: 992px) {
  /* ----Search---- */
  .search-icon-input {
    gap: 1.563rem;
  }
  .search-btn {
    max-width: 6.635rem;
  }
  input {
    font-size: 1rem;
  }

  .search-icon {
    margin-left: 20px;
  }
  .result-join-date {
    margin-top: 0.66rem;
  }
  /* ----result---- */
  .result {
    grid-template-columns: 7.313rem 1fr;
    grid-template-areas:
      "avatar person"
      "bio bio"
      "statistic statistic"
      "social social";
    padding: 2.25rem;
  }
  .user-image {
    width: 7.313rem;
    height: 7.313rem;
    margin-bottom: 0rem;
  }
  .result-bio {
    margin-top: 1.5625rem;
  }
  .user-name {
    font-size: 1.625rem;
  }
  .user-name-link {
    font-size: 0.938rem;
  }
  .result-join-date {
    font-size: 0.938rem;
  }

  .social-media-links {
    grid-template-columns: 1fr 1fr;
  }
}
/* Large */
@media (min-width: 1200px) {
  /* ----result---- */
  .result {
    grid-template-columns: 7.313rem 1fr;
    grid-template-areas:
      "avatar person"
      ". bio"
      ". statistic"
      ". social";
    padding: 2.25rem;
  }

  .user-image {
    width: 7.313rem;
    height: 7.313rem;
    margin-bottom: 0rem;
  }
  .result-bio {
    margin-top: -1.5625rem;
    padding-left: 2.25rem;
  }

  .user-personal-info {
    display: flex;
    justify-content: space-between;
    padding-left: 2.25rem;
    margin: 0;
  }
  .user-name {
    font-size: 1.625rem;
  }

  .result-join-date,
  .user-name-link {
    font-size: 0.938rem;
  }

  .repos-followers-following {
    margin-left: 2.25rem;
  }

  .social-media-links {
    padding-left: 2.25rem;
  }
}

/* ------ switch top to bottom ------- */
@keyframes switch-animation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-3rem);
  }
  100% {
    transform: translateY(0);
  }
}
